// -------------------------------------------------------------------
//  app.scss
// -------------------------------------------------------------------

// Modules Variables
// -------------------------------------------------------------------
@import '_helpers/variables';

// Base
// -------------------------------------------------------------------
@import '_base/structure';

input {
  line-height: 1.6;
}

img {
  vertical-align: middle;
  line-height: 1;
}

.dg .selector {
  width: 126px !important;
}

.world {
  @include position(absolute, 0 null null 0);
  > canvas {
    width: 100%;
    height: 100%;
  }
}

select {
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  background-color: white;
  color: black;
  white-space: pre;
  cursor: default;
  -webkit-appearance: menulist;
  align-items: center;
  -webkit-rtl-ordering: logical;
}
