// -------------------------------------------------------------------
//  bem-name.scss
// -------------------------------------------------------------------
@function bem-name($parent-class-name, $class-name, $type: e) {
  $class: '.';
  $element: '__';
  $modifier: '--';
  @if $type == e {
    @return #{$class}#{$parent-class-name}#{$element}#{$class-name};
  } @else {
    @return #{$class}#{$parent-class-name}#{$modifier}#{$class-name};
  }
}


