// -------------------------------------------------------------------
//  get-ratio.scss
// -------------------------------------------------------------------
@function get-ratio($value, $type: width) {
  @if $type == width {
    @return unquote(($value / $design-width) * 100 + '%');
  } @else {
    @return unquote(($value / $design-height) * 100 + '%');
  }
}

@function get-ratio-href($value, $type: width) {
  @if $type == width {
    @return unquote(($value / $design-width) * 50 + '%');
  } @else {
    @return unquote(($value / $design-height) * 50 + '%');
  }
}

@function get-ration-value($value) {
  @return unquote(($value / $design-width) * 100);
}

@function get-rem($value) {
  @return unquote($value * .625 + 'rem');
}

@function get-percent($value) {
  @return unquote(($value / $design-width) * 100 + '%');
}
