- var path = "";

doctype
html(lang='ja')
    head
        title
            | WebGL School
        link(rel='stylesheet', href=path + 'assets/css/app.css', media='all')
    body
        #world
            script(src=path + 'assets/js/dat.gui.min.js')
            script(src=path + 'assets/js/glcubic.js')
            script(src=path + 'assets/js/bundle.js')