// -------------------------------------------------------------------
//  border-double.scss
// -------------------------------------------------------------------
@mixin border-double($color1, $color2) {
  box-shadow: 0 1px 0 $color2;
  border-bottom: 1px solid $color1;
}


