// -------------------------------------------------------------------
//  clearfix.scss
// -------------------------------------------------------------------
@mixin clearfix {
  zoom: 1;
  &:after {
    display: table;
    clear: both;
    content: '';
  }

  &:before {
    display: table;
    content: '';
  }
}

