// -------------------------------------------------------------------
//  display.scss
// -------------------------------------------------------------------
@mixin display-table($value: middle) {
  display: table-cell;
  vertical-align: $value;
}
