// -------------------------------------------------------------------
//  font-size-rem.scss
//  @include font-size(13)
//  @include font-rem(13)
// -------------------------------------------------------------------
@mixin font-size($size) {
  //font-size: $size * 1px;
  font-size: ($size / 10) * 1rem;
}

@mixin font-rem($size) {
  //font-size: $size * 1px;
  font-size: ($size / $base-font-size) * 1rem;
}
