// -------------------------------------------------------------------
//  position-centering.scss
// -------------------------------------------------------------------
@mixin pos-center($type: basePos) {
  position: absolute;
  @if $type == basePos {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  } @else if $type == center {
    right: 0;
    left: 0;
    margin: 0 auto;
  } @else if $type == middle {
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}
