// -------------------------------------------------------------------
//  pseudo-elements.scss
// -------------------------------------------------------------------
@mixin pseudo-element($w, $h) {
  display: block;
  width: $w;
  height: $h;
  content: '';
}
