// -------------------------------------------------------------------
//  sprite.scss
// -------------------------------------------------------------------

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background: {
    image: url('#{$sprite-image}');
  }
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprite-retina-width($sprite) {
  width: nth($sprite, 5) * .5;
}

@mixin sprite-retina-height($sprite) {
  height: nth($sprite, 6) * .5;
}

@mixin sprite-retina-position($sprite) {
  $sprite-offset-x: nth($sprite, 3) * .5;
  $sprite-offset-y: nth($sprite, 4) * .5;
  background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-retina-imgsize($sprite) {
  background-size: nth($sprite, 7) * .5 nth($sprite, 8) * .5;
}

@mixin sprite-retina($sprite) {
  @include sprite-image($sprite);
  @include sprite-retina-position($sprite);
  @include sprite-retina-width($sprite);
  @include sprite-retina-height($sprite);
  @include sprite-retina-imgsize($sprite);
}

