// -------------------------------------------------------------------
//  animation.scss
//  Reference: http://daneden.github.io/animate.css/, https://github.com/jackilyn/animate.scss
// -------------------------------------------------------------------

// Base
// -------------------------------------------------------------------
@mixin declare-animation($name: fade-in, $duration: 1s, $delay: 0s, $easing: $ease-in-quad, $count: infinite, $mode: none) {
  animation-timing-function: $easing;
  animation-duration: $duration;
  animation-iteration-count: $count;
  animation-delay: $delay;
  animation-name: $name;
  animation-fill-mode: $mode;
}

@mixin fade-in($type: 0) {
  @if $type == 0 {
    opacity: 0;
  } @else {
    opacity: 1;
  }
}

@mixin fade-out($type: 0) {
  @if $type == 0 {
    opacity: 1;
  } @else {
    opacity: 0;
  }
}

// Mixin
// -------------------------------------------------------------------
//@if $is-base-animation == true {
//  @import 'animation-detail';
//}
