// -------------------------------------------------------------------
//  animation-detail.scss
//  Reference: http://daneden.github.io/animate.css/, https://github.com/jackilyn/animate.scss
// -------------------------------------------------------------------
//-------------------------------------------------- Bounce
$bounce-x: 3000px;
$bounce-y: 50px;

@keyframes bottom-in {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes left-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes right-in {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes move-top-bottom {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}

@keyframes move-bottom-top {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 100%;
  }
}

@keyframes move-left-right {
  0% {
    left: -50%;
  }

  100% {
    left: 100%;
  }
}

@keyframes move-right-left {
  0% {
    right: -50%;
  }

  100% {
    right: 150%;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce-in {
  0% {
    transform: scale3d(.3, .3, .3);
    opacity: .01;
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
    opacity: .01;
  }

  40% {
    transform: scale3d(.9, .9, .9);
    opacity: .01;
  }

  60% {
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1;
  }

  80% {
    transform: scale3d(.97, .97, .97);
    opacity: 1;
  }

  100% {
    transform: scale3d(1, 1, 1);
    opacity: .01;
  }
}

@keyframes bounce-in-up {
  0% {
    transform: translateY($bounce-y);
    opacity: .01;
  }

  60% {
    transform: translateY(-20px);
    opacity: .01;
  }

  75% {
    transform: translateY(10px);
    opacity: .01;
  }

  90% {
    transform: translateY(-5px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce-in-down {
  0% {
    transform: translate3d(0, -($bounce-y), 0);
    opacity: .01;
  }

  60% {
    transform: translate3d(0, 20px, 0);
    opacity: .01;
  }

  75% {
    transform: translate3d(0, -10px, 0);
    opacity: .01;
  }

  90% {
    transform: translate3d(0, 5px, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes bounce-in-left {
  0% {
    transform: translate3d(-($bounce-x), 0, 0);
    opacity: .01;
  }

  60% {
    transform: translate3d(20px, 0, 0);
    opacity: .01;
  }

  75% {
    transform: translate3d(-10px, 0, 0);
    opacity: .01;
  }

  90% {
    transform: translate3d(5px, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes bounce-in-right {
  0% {
    transform: translate3d($bounce-x, 0, 0);
    opacity: .01;
  }

  60% {
    transform: translate3d(-20px, 0, 0);
    opacity: .01;
  }

  75% {
    transform: translate3d(10px, 0, 0);
    opacity: 1;
  }

  90% {
    transform: translate3d(-5px, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes bounce-out {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  20% {
    transform: scale3d(.97, .97, .97);
    opacity: 1;
  }

  40% {
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1;
  }

  60% {
    transform: scale3d(.9, .9, .9);
    opacity: .01;
  }

  80% {
    transform: scale3d(1.1, 1.1, 1.1);
    opacity: .01;
  }

  100% {
    transform: scale3d(.3, .3, .3);
    display: none;
    opacity: .01;
  }
}

@keyframes bounce-out-up {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  60% {
    transform: translate3d(0, -5px, 0);
    opacity: 1;
  }

  75% {
    transform: translate3d(0, 10px, 0);
    opacity: 1;
  }

  80% {
    transform: translate3d(0, -20px, 0);
    opacity: .01;
  }

  100% {
    transform: translate3d(0, $bounce-y, 0);
    opacity: .01;
  }
}

@keyframes bounce-out-down {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  60% {
    transform: translate3d(0, 5px, 0);
    opacity: 1;
  }

  75% {
    transform: translate3d(0, -10px, 0);
    opacity: 1;
  }

  90% {
    transform: translate3d(0, 20px, 0);
    opacity: .01;
  }

  100% {
    transform: translate3d(0, -($bounce-y), 0);
    opacity: .01;
  }
}

@keyframes bounce-out-left {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  60% {
    transform: translate3d(5px, 0, 0);
    opacity: 1;
  }

  75% {
    transform: translate3d(-10px, 0, 0);
    opacity: 1;
  }

  90% {
    transform: translate3d(20px, 0, 0);
    opacity: .01;
  }

  100% {
    transform: translate3d(-($bounce-x), 0, 0);
    opacity: .01;
  }

}

@keyframes bounce-out-right {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  60% {
    transform: translate3d(-5px, 0, 0);
    opacity: 1;
  }

  75% {
    transform: translate3d(10px, 0, 0);
    opacity: 1;
  }

  90% {
    transform: translate3d(-20px, 0, 0);
    opacity: .01;
  }

  100% {
    transform: translate3d($bounce-x, 0, 0);
    opacity: .01;
  }

}

@keyframes fade-in-up {
  0% {
    transform: translate3d(0, 100%, 0);
    @include fade-in(0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    @include fade-in(1);
  }
}

@keyframes fade-in-down {
  0% {
    transform: translate3d(0, 100%, 0);
    @include fade-in(0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    @include fade-in(1);
  }
}

@keyframes fade-in-left {
  0% {
    transform: translate3d(-100%, 0, 0);
    @include fade-in(0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    @include fade-in(1);
  }
}

@keyframes fade-in-right {
  0% {
    transform: translate3d(100%, 0, 0);
    @include fade-in(0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    @include fade-in(1);
  }
}

@keyframes fade-out {
  0% {
    display: block;
    opacity: 1;
  }

  99% {
    display: block;
    opacity: .01;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fade-out-up {
  100% {
    transform: translate3d(0, 100%, 0);
    @include fade-out(0);
  }

  0% {
    transform: translate3d(0, 0, 0);
    @include fade-out(1);
  }
}

@keyframes fade-out-down {
  100% {
    transform: translate3d(0, 100%, 0);
    @include fade-out(0);
  }

  0% {
    transform: translate3d(0, 0, 0);
    @include fade-out(1);
  }
}

@keyframes fade-out-left {
  100% {
    transform: translate3d(-100%, 0, 0);
    @include fade-out(0);
  }

  0% {
    transform: translate3d(0, 0, 0);
    @include fade-out(1);
  }
}

@keyframes fade-out-right {
  100% {
    transform: translate3d(100%, 0, 0);
    @include fade-out(0);
  }

  0% {
    transform: translate3d(0, 0, 0);
    @include fade-out(1);
  }
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }

  15% {
    transform: translateX(-25%) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translateX(20%) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translateX(-15%) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translateX(10%) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translateX(-5%) rotate3d(0, 0, 1, -1deg);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes flip-in-x {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: $ease-in-quad;
    opacity: .01;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: $ease-in-quad;
    opacity: .01;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    opacity: 1;
  }

  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 0);
    opacity: 1;
  }
}

@keyframes flip-in-y {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: $ease-in-quad;
    opacity: .01;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: $ease-in-quad;
    opacity: .01;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    opacity: 1;
  }

  100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 0);
  }
}

@keyframes flip-out-x {
  0% {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: .01;
  }
}

@keyframes flip-out-y {
  0% {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: .01;
  }
}

@keyframes scale-min {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes scalemax-X {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes scale-minX {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes scale-max-y {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes scale-min-y {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}

@keyframes rotate-r {
  0% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

//-------------------------------------------------- move
@keyframes top-in {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

//-------------------------------------------------- Rubber Band
@keyframes rubber-band {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, .75, 1);
  }

  40% {
    transform: scale3d(.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, .85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

//-------------------------------------------------- Fade
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

//-------------------------------------------------- Swing
@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 4deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -2deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 2deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -1deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

//-------------------------------------------------- Shake
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

//-------------------------------------------------- flip
@keyframes flip {
  0% {
    transform: perspective(400px) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: $ease-out-quad;
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: $ease-out-quad;
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: $ease-in-quad;
  }

  80% {
    transform: perspective(400px) translate3d(0, 0, 0) scale3d(.95, .95, .95);
    animation-timing-function: $ease-in-quad;
  }

  100% {
    transform: perspective(400px) translate3d(0, 0, 0) scale3d(1, 1, 1);
    animation-timing-function: $ease-in-quad;
  }
}

//-------------------------------------------------- Scale
@keyframes scale-max {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

//-------------------------------------------------- Rotate
@keyframes rotate-l {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

// Base Animation
// -------------------------------------------------------------------
.top-in {
  @include declare-animation($name: top-in);
}

.bottom-in {
  @include declare-animation($name: bottom-in);
}

.left-in {
  @include declare-animation($name: left-in);
}

.right-in {
  @include declare-animation($name: right-in);
}

.move-top-bottom {
  @include declare-animation($name: move-top-bottom);
}

.move-bottom-top {
  @include declare-animation($name: move-bottom-top);
}

.move-left-right {
  @include declare-animation($name: move-left-right);
}

.move-right-left {
  @include declare-animation($name: move-right-left);
}

.rubber-band {
  @include declare-animation($name: rubberBand);
}

.bounce {
  @include declare-animation($name: bounce, $count: 1);
  @include transform-origin(center bottom);
}

.bounce-in {
  @include declare-animation($name: bounce-in);
}

.bounce-in-up {
  @include declare-animation($name: bounce-in-up, $duration: 1s, $easing: $ease-out-quad, $count: 1);
}

.bounce-in-down {
  @include declare-animation($name: bounce-in-down);
}

.bounce-in-left {
  @include declare-animation($name: bounce-in-left);
}

.bounce-in-right {
  @include declare-animation($name: bounce-in-right);
}

.bounce-out {
  @include declare-animation($name: bounce-out);
}

.bounce-out-up {
  @include declare-animation($name: bounce-out-up);
}

.bounce-out-down {
  @include declare-animation($name: bounce-out-down);
}

.bounce-out-left {
  @include declare-animation($name: bounce-out-left);
}

.bounce-out-right {
  @include declare-animation($name: bounce-out-right);
}

.fade-in {
  @include declare-animation($name: fade-in, $duration: .6s, $easing: $ease-out-quad, $count: 1);
  display: block;
}

.fade-in-up {
  @include declare-animation($name: fade-in-up);
}

.fade-in-down {
  @include declare-animation($name: fade-in-down);
}

.fade-in-left {
  @include declare-animation($name: fade-in-left);
}

.fade-in-right {
  @include declare-animation($name: fade-in-right);
}

.fade-out {
  @include declare-animation($name: fade-out, $duration: .6s, $easing: $ease-out-cubic, $count: 1);
  @include opacity(0);
  display: none;
}

.fade-out-up {
  @include declare-animation($name: fade-out-up);
}

.fade-out-down {
  @include declare-animation($name: fade-out-down);
}

.fade-out-left {
  @include declare-animation($name: fade-out-left);
}

.fade-out-right {
  @include declare-animation($name: fade-out-right);
}

.swing {
  @include declare-animation($name: swing, $duration: 5s);
}

.shake {
  @include declare-animation($name: shake);
}

.flip {
  @include declare-animation($name: flip);
}

.flip-in-x {
  @include declare-animation($name: flip-inX);
}

.flip-in-y {
  @include declare-animation($name: flip-inY);
}

.flip-out-x {
  @include declare-animation($name: flip-outX);
}

.flip-out-y {
  @include declare-animation($name: flip-outY);
}

.scale-max {
  @include declare-animation($name: scalemax-);
}

.scale-min {
  @include declare-animation($name: scale-min);
}

.scale-max-x {
  @include declare-animation($name: scalemax-X);
}

.scale-min-x {
  @include declare-animation($name: scale-minX);
}

.scale-max-y {
  @include declare-animation($name: scalemax-Y);
}

.scale-min-y {
  @include declare-animation($name: scale-minY);
}

.rotate-l {
  @include declare-animation($name: rotateL, $duration: 3s, $easing: linear);
}

.rotate-r {
  @include declare-animation($name: rotateR, $duration: 3s, $easing: linear);
}
